$colorText: #333;
$colorTextReverse: #fff;
$colorActive: #4cd964;
$colorAction: #007aff;
$colorImportant: #ff2d55;
$colorWarning: #ff9500;
$colorBackground: #8e8e93;
$colorBackgroundSoft: #efeff4;
$colorBorder: #ceced2;
