@import '../../main.scss';

.StyleBar {
  box-sizing: border-box;
  background-color: $colorBackground;
  color: $colorTextReverse;
  position: absolute;
  z-index: 1000;
  top: 20px;
  right: 20px;
  width: 200px;
  padding: 10px;
  border-radius: 5px;
}

.Toolbar {
  display: flex;
  flex-direction: column;
  width: 100%;

  .row {
    flex: 1;
  }

  h1 {
  }

  label {
  }

  input {
  }
}